<div class="contact-us-header grey-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="block-title mb-1">Contact Us</div>
                <p>
                    Probabo inquit modo ista sis aequitate quam ob rem aperiam eaque gaudere ut ita ruant itaque turbent ut ad id omnia referri
                </p>
                <ul class="social">
                    <li class="facebook"><a href="#"></a></li>
                    <li class="twitter"><a href="#"></a></li>
                    <li class="linkedin"><a href="#"></a></li>
                    <li class="pinterest"><a href="#"></a></li>
                    <li class="instagram"><a href="#"></a></li>
                    <li class="email"><a href="#"></a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-center text-lg-right d-none d-lg-block">
                <img src="/assets/img/contact-us/beach.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-box contact-box-lg text-center">
                    <div class="icon mb-4">
                        <img src="/assets/img/contact-us/map.svg">
                    </div>
                    <div class="title title-lg mb-2">Head Office</div>
                    <div class="mb-2">
                        Victoria, Mahé Island<br>
                        Tel. +248 428 88 88<br>
                        Fax +248 422 52 73 / 432 41 73
                    </div>
                    <button type="button" class="btn btn-warning">On Map</button>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-box contact-box-lg text-center">
                    <div class="icon mb-4">
                        <img src="/assets/img/contact-us/email.svg">
                    </div>
                    <div class="title title-lg mb-2">Mail</div>
                    <div class="mb-2">
                        Reservations:<br>
                        webreservations@masonstravel.com<br>
                        &nbsp;
                    </div>
                    <button type="button" class="btn btn-warning">Send Email</button>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-box contact-box-lg text-center">
                    <div class="icon mb-4">
                        <img src="/assets/img/contact-us/phone.svg">
                    </div>
                    <div class="title title-lg mb-2">Support</div>
                    <div class="mb-2">
                        Hotline:<br>
                        +248 428 88 88<br>
                        &nbsp;
                    </div>
                    <button type="button" class="btn btn-warning">Call to Us</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-box">
                            <div class="title">Support</div>
                            <div>
                                Victoria, Mahé Island<br>
                                Tel. +248 428 88 88Z<br>
                                Fax +248 422 52 73 / 432 41 73
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-box">
                            <div class="title">Jetty Office</div>
                            <div>
                                Inter Island Quay<br>
                                Victoria, Mahé<br>
                                Tel. +248 428 88 88
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-box">
                            <div class="title">Postal Address</div>
                            <div>
                                Mason’s Travel (Pty) Ltd<br>
                                P.O. Box 459, Victoria<br>
                                Mahé, Seychelles
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-box">
                            <div class="title">Praslin Office</div>
                            <div>
                                Grande Anse, Praslin Island<br>
                                Tel. +248 428 87 50<br>
                                Fax +248 423 34 55
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-box">
                            <div class="title">Mason’s Connect</div>
                            <div>
                                Eden Plaza, Eden Island (Mahé)<br>
                                Tel:  +248 428 88 05<br>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-box">
                            <div class="title">La Digue Office</div>
                            <div>
                                La Passe, La Digue Island<br>
                                Tel. +248 423 42 27 / 428 88 57<br>
                                Fax +248 423 42 66
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-box" style="height: calc(100% - 30px)">
                    <div class="mb-3">
                        <div class="title text-warning">Reservations:</div>
                        <a href="mailto:webreservations@masonstravel.com">webreservations@masonstravel.com</a>
                    </div>

                    <div class="mb-3">
                        <div class="title text-warning">General Enquiries:</div>
                        <a href="mailto:webenquiry@masonstravel.com">webenquiry@masonstravel.com</a>
                    </div>

                    <div class="mb-3">
                        <div class="title text-warning">Groups & Incentives:</div>
                        <a href="mailto:groups@masonstravel.com">groups@masonstravel.com</a>
                    </div>

                    <div class="mb-3">
                        <div class="title text-warning">Cruise Ships:</div>
                        <a href="mailto:groups@masonstravel.com">groups@masonstravel.com</a>
                    </div>

                    <div class="mb-3">
                        <div class="title text-warning">Weddings:</div>
                        <a href="mailto:weddings@masonstravel.com">weddings@masonstravel.com</a>
                    </div>

                    <div class="mb-3">
                        <div class="title text-warning">Excursions & Activities:</div>
                        <a href="mailto:webreservations@masonstravel.com">webreservations@masonstravel.com</a>
                    </div>

                    <div class="mb-3">
                        <div class="title text-warning">Sales & Marketing:</div>
                        <a href="mailto:marketing@masonstravel.com">marketing@masonstravel.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map"></div>

<div class="contact-form">
    <div class="container">
        <div class="contact-form-container mx-auto">
            <div class="block-title mb-3 text-center">
                Contact us
            </div>
            <div class="subtitle mb-4 text-center">
                Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei,<br>
                at nihil tantas platonem.
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="First Name" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="Last Name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">Your Country</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Company / Organization" class="form-control">
            </div>

            <div class="form-group">
                <textarea name="" id="" rows="4" placeholder="Your Message..." class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="">I am:</label>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Travel Agent / Tour Operator
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Tourist wanting to visit Seychelles
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Other (Please Explain)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-warning">Contact Mason’s Travel Today!</button>
            </div>
        </div>
    </div>
</div>