
//    Font Family
$circular: "Circular-Std";
$title-font	: 'Montserrat', sans-serif;
$text-font	: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/
$primary-color: #15187C;
$secondary-color: #FF4F07;
$border-color: #CCCED3;
$base-radius: 5px;

$primary-color	: #39cfca;
$primary-color2	: #3279bb;
$primary-color3	: #f1f9ff;
$title-color	: #222222;
$text-color		: #777777;

$offwhite		: #f9f9ff;
$black: #000000;
$white: #ffffff;

$gray-90: #0e0f1b;
$gray-80: #363a4a;
$gray-75: #60617a;
$gray-70: #838798;
$gray-60: #9b9b9b;
$gray-50: #b6b7c5;
$gray-30: #dadbe7;
$gray-25: #ededed;
$gray-20: #ececf5;
$gray-10: #f5f5fa;

$accent-blue: #2680eb;
$accent-red: #dc4854;

//Brand
$aqua: #00bbd3;
$orange: #ff7858;

//Feedback colors
$feedback-light-green: #e5f7f2;
$feedback-light-yellow: #fff9ee;
$feedback-light-red: #fde8ea;
$feedback-light-agua: #e5f8fa;

// new variables
$primary-color: #15187C;
$secondary-color: #FF4F07;
$border-color: #CCCED3;
$base-radius: 5px;