@import "./src/scss/base/variables.scss";
@import "./src/scss/base/mixin.scss";

.profile-wrapper {
  display: grid;
  grid-template-columns: 276px 1fr;
  gap: 32px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 200px 1fr;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
    position: relative;
  }
}

.top {
  position: relative;
  z-index: 9999;
}

.tab-container {
  padding: 16px 0;
  border: solid 1px $gray-20;
  background-color: $white;
  height: max-content;

  li {
    cursor: pointer;
    padding: 16px 24px;

    svg,
    span {
      @include inline-block();
    }

    span {
      line-height: 1.5;
      color: $gray-70;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 12px;
      fill: $gray-70;
    }

    &.active-tab {
      span {
        color: $gray-80;
      }

      svg {
        fill: $aqua;
      }
    }
  }
}

.profile-loadable-wrapper {
  border: solid 1px $gray-20;
  background-color: $white;

  @media screen and (max-width: 768px) {
    border: none;
    background-color: transparent;
  }
}

.profile-mobile {
  .container-btn {
    display: flex;

    .save-btn {
      margin-right: 8px;
    }
  }
}

.mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.2px;
    color: $gray-90;
    font-style: normal;
  }
}