<!-- 
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex flex-column justify-content-between h-100">
          <div>
            <a href="#">
              <img src="/assets/img/footer/logo.svg"
                   class="mb-3">
            </a>
            <div>
              In oculis quidem exercitus quid ex ea voluptate<br> velit esse quam nihil ut calere ignem
            </div>
          </div>
          <div class="copyright mt-2 mt-lg-0 mb-2 mb-lg-0">
            Copyright © 2020 Masons Tours. All Rights Reserved
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex justify-content-between">
          <div>
            <div class="title">Title</div>
            <ul class="menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>

          <div>
            <div class="title">Title 1</div>
            <ul class="menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Features</a></li>
            </ul>
          </div>

          <div>
            <div class="title">Information</div>
            <ul class="menu">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/about-us">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <ul class="contacts d-lg-flex justify-content-between">
      <li class="location">325 China Road</li>
      <li class="phone"><a href="tel:+12025550109">+1-202-555-0109</a></li>
      <li class="time">9 - 12, Mon - Tue</li>
      <li class="email"><a href="mailto:bookinghelpme@gmail.com">bookinghelpme@gmail.com</a></li>
    </ul>
  </div>
</footer> -->