<!-- <div class="faq-header grey-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="block-title mb-1">FAQ</div>
                <p>
                    Probabo inquit modo ista sis aequitate quam ob rem aperiam eaque gaudere ut ita ruant itaque turbent ut ad id omnia referri
                </p>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="img-wrapper play-button-container">
                    <img src="/assets/img/faq/stone.png" class="img-fluid">
                    <div class="play-circle">
                        <img src="/assets/img/shared/play.svg" alt="" class="play-button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-content">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
                <div class="question" *ngFor="let question of questions; index as i">
                    <mat-expansion-panel [hideToggle]="true">
                        <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'" (click)="questions[i].Expanded = !questions[i].Expanded">
                            <mat-panel-title>
                                <div class="question-header" [ngClass]="{'expanded': questions[i].Expanded}">
                                    {{question.Header}}
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="question-answer">
                            {{question.Content}}
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="digital-design">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center mb-3 mb-md-0">
                <div class="block-title">
                    Digital design
                </div>
                <div class="subtitle">
                    Exceptional level of service
                </div>
                <div class="content">
                    Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem eos. Mazim nemore singulis an ius, nullam ornatus nam ei.
                </div>
                <a href="" class="btn btn-warning btn-small">Explore Services</a>
            </div>
            <div class="col-md-5 offset-md-1">
                <img src="/assets/img/faq/bird-and-ship.png" alt="" class="w-100">
            </div>
        </div>
    </div>
</div>

<div class="stats text-center">
    <div class="container">
        <div class="block-title">
            Booking is the best<br> travel service
        </div>
        <div class="text">
            <p>
                Probabo inquit modo ista sis aequitate quam ob rem aperiam eaque<br>
                gaudere ut ita ruant itaque turbent ut ad id omnia referri oporteat ipsum<br>
                autem vel illum qui
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <div class="stat-item mr-3 mr-md-5">
                <span>360+</span>
                Excursions
            </div>
            <div class="stat-item">
                <span>260+</span>
                Transfers
            </div>
        </div>
    </div>
</div> -->