<div class="my-info-container">
    <div class="info-header">
        <div class="title">
            <h2>My Account</h2>
        </div>
        <div class="info-tabs">
            <ul>
                <li routerLink="/my-info/profile"
                    routerLinkActive="active">
                    Account
                </li>
            </ul>
        </div>
    </div>
    <div class="info-body">
        <div class="content-wrapper">
            <div class="info-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>