@import "./src/scss/base/_variables.scss";
@import "./src/scss/base/_mixin.scss";

.divide-line {
    height: 1px;
    width: 40%;
    background-color: #d5d8dc;
    margin: auto;
}

.avatar {
    cursor: pointer;

    .avatar-empty {
        width: 40px;
        height: 40px;
        overflow: hidden;
        background-color: #fff1ee;
        text-align: center;
        line-height: 32px;
        font-size: 12px;
        font-weight: 500;
        color: $orange;

        img {
            @include stretch-cover();
        }
    }

    .avatar-img {
        width: 40px;
        height: 40px;
        overflow: hidden;

        img {
            @include stretch-cover();
        }
    }
}

.user-name {
    font-weight: bold;
    color: #FF4F07;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin: 0px 37px 0 15px;
}

.terminator {
    background-color: #CCCED3;
    height: 1px;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #15187C;
    opacity: 0.8;
}

ul {
    margin: 0;
    padding: 20px 0;

    li {
        font-weight: bold;
        padding: 0;
        display: inline-block;
        margin-bottom: 30px;
        font-size: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        &:not(.contact-us):hover {
            color: #FF4F07;
        }

        a {
            position: relative;
            color: $primary-color;
            text-decoration: none;
            padding-left: 30px;

            &:hover {
                color: $secondary-color;
            }

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
            }
        }

        &.excursions a:before {
            top: 2px;
            background: url("/assets/img/header/excursions.svg") no-repeat;
            background-size: 20px 14px;
            width: 20px;
            height: 14px;
        }

        &.transfers a:before {
            top: -1px;
            background: url("/assets/img/header/transfers.svg") no-repeat;
            background-size: 16px 20px;
            width: 16px;
            height: 20px;
        }

        &.hotels a:before {
            background: url("/assets/img/header/hotels.svg") no-repeat;
            background-size: 20px 16px;
            width: 20px;
            height: 16px;
        }

        &.logout a:before {
            background: url("/assets/img/header/logout.svg") no-repeat;
            background-size: 20px 16px;
            width: 20px;
            height: 16px;
        }

        @media (max-width: 1199px) {
            margin-right: 25px;
        }
    }
}

.sign-in {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #15187C;
}