<div class="password-wrapper">
  <div *ngIf="isEditing || !isMobileResolution">
    <div class="tenant-step-title">
      <h3>Password</h3>
    </div>
    <div class="desc">
      <p>You must provide the current password for security reasons. We’ll also notify you about this change
        through email.</p>
    </div>
    <form [formGroup]="passwordForm"
          (ngSubmit)="updatePassword()"
          class="password-content">
      <div>
        <div class="tenant-input">
          <label for="current-password">Current Password</label>
          <input [type]="isCurrentPasswordShowing ? 'text': 'password'"
                 id="current-password"
                 placeholder="Current Password"
                 #currentPassword
                 formControlName="currentPassword"
                 autocomplete="off">
          <div (click)="showPassword(true)"
               class="show-password-container"
               id="showCurrent">
            <div [ngClass]="{'show-password': isCurrentPasswordShowing}">
              <img src="assets/img/shared/eye.svg"
                   alt="eye">
            </div>
            <span *ngIf="!isCurrentPasswordShowing">Show</span>
            <span *ngIf="isCurrentPasswordShowing">Hide</span>
          </div>
        </div>
      </div>
      <div>
        <div class="tenant-input">
          <label for="new-password">New Password</label>
          <input [type]="isNewPasswordShowing ? 'text': 'password'"
                 id="new-password"
                 placeholder="New Password"
                 #newPassword
                 formControlName="password"
                 autocomplete="off">
          <div (click)="showPassword(false)"
               class="show-password-container"
               id="showNew">
            <div [ngClass]="{'show-password':isNewPasswordShowing}">
              <img src="assets/img/shared/eye.svg"
                   alt="eye">
            </div>
            <span *ngIf="!isNewPasswordShowing">Show</span>
            <span *ngIf="isNewPasswordShowing">Hide</span>
          </div>

          <div (clickOutside)="toggleValidationList()"
               [attachOutsideOnClick]="true">
            <div class="list-valid-icon"
                 (click)="toggleValidationList()">
              <img src="assets/img/shared/info.svg"
                   alt="info">
            </div>
            <div class="list-valid list-required"
                 *ngIf="isShowValidationList">
              <div
                   [class.require-completed]="passwordForm.controls['password'].errors && !passwordForm.controls['password'].errors?.hasUpper">
                One uppercase character
              </div>
              <div
                   [class.require-completed]="passwordForm.controls['password'].errors && !passwordForm.controls['password'].errors?.hasSymbol">
                One special character
              </div>
              <div
                   [class.require-completed]="passwordForm.controls['password'].errors && !passwordForm.controls['password'].errors?.hasNumber">
                One number
              </div>
              <div
                   [class.require-completed]="passwordForm.controls['password'].errors && !passwordForm.controls['password'].errors?.hasLength">
                8 characters minimum
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="btn-save"
     *ngIf="isEditing || !isMobileResolution">
  <div>
    <astronet-button class="large primary-action relative-loader"
                     type="submit"
                     text="Change password"
                     (onClick)="updatePassword()">
    </astronet-button>
  </div>
</div>