<div>
  <div>Forgot password?</div>
  <div>Don’t worry about it — it happens.</div>
  <form [formGroup]="forgotPasswordForm"
        (ngSubmit)="forgotPassword()">
    <div>
      <label for="email">Email</label>
      <input type="email"
             formControlName="email"
             id="email"
             [ngClass]="{'no-valid-input': forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].touched}" />
      <div>
        <span *ngIf="forgotPasswordForm.controls['email'].errors?.required && forgotPasswordForm.controls['email'].touched">
          Email is required.
        </span>
        <span *ngIf="forgotPasswordForm.controls['email'].errors?.pattern && forgotPasswordForm.controls['email'].touched">
          The email format is incorrect.
        </span>
      </div>
    </div>
    <div>
      <astronet-button text="Send recovery link" (onClick)="forgotPassword()"></astronet-button>
    </div>
  </form>
  <div class="remember-password">
    <span>Remember your passwords?</span>
    <a (click)="backToLogin()">Back to login</a>
  </div>
</div>