// .sidenav-container {
//     height: 100%;
//   }

.sidenav {
  width: 85%;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #15187C;
  opacity: 0.8;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

// .hidden { 
//   display : none;
// }