<div>
	<div>Create a new password</div>
	<div>If you’re having trouble with creating new password, please <a href="#">contact our support</a>.
	</div>
	<mat-card class="my-card">
		<mat-card-content>
			<form [formGroup]="resetPasswordForm">
				<mat-form-field class="full-width">
					<mat-label>Password</mat-label>
					<input matInput
						   #refPassInput
						   validate-onchange
						   type="password"
						   formControlName="password"
						   placeholder="Password"
						   [ngClass]="{'no-valid-input': formControls['password'].errors && formControls['password'].touched}" />
				</mat-form-field>
				<div (click)="showPassword(refPassInput)">
					<div [ngClass]="{'show-password': isPasswordShowed}">
						<img src="assets/img/auth/eye.svg"
							 alt="eye">
					</div>
					<span *ngIf="!isPasswordShowed">Show</span>
					<span *ngIf="isPasswordShowed">Hide</span>
				</div>
				<div *ngIf="formControls['password'].errors && formControls['password'].touched">
					<div *ngIf="formControls['password'].errors.required">Password is required</div>
					<div *ngIf="formControls['password'].errors && !formControls['password'].errors?.hasUpper">
						One uppercase character
					</div>
					<div *ngIf="formControls['password'].errors && !formControls['password'].errors?.hasSymbol">
						One special character
					</div>
					<div *ngIf="formControls['password'].errors && !formControls['password'].errors?.hasNumber">
						One number
					</div>
					<div *ngIf="formControls['password'].errors && !formControls['password'].errors?.hasLength">
						8 characters minimum
					</div>
				</div>
				<mat-form-field class="full-width">
					<mat-label>Confirm password</mat-label>
					<input matInput
						   #refPassInput
						   validate-onchange
						   type="password"
						   formControlName="confirmPassword"
						   placeholder="Confirm password"
						   [class.no-valid-input]="formControls['confirmPassword'].errors && formControls['confirmPassword'].touched" />
				</mat-form-field>
				<div *ngIf="formControls['confirmPassword'].errors && formControls['confirmPassword'].touched">
					<div *ngIf="formControls['confirmPassword'].errors && formControls['confirmPassword'].errors?.matchPassword">
						Password and confirm password not equals
					</div>
				</div>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<astronet-button text="Save my password"
							 (onClick)="resetPassword()">
			</astronet-button>
		</mat-card-actions>
	</mat-card>
</div>