@import "./src/scss/base/mixin.scss";
@import "./src/scss/base/variables.scss";

:host {
    width: 100%;
    height: 100%;
}

// start header
.header {
    display: flex;
    align-items: center;
    padding: 30px 0;
    height: 100px;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }

            a {
                position: relative;
                color: $primary-color;
                text-decoration: none;
                padding-left: 30px;

                &:hover {
                    color: $secondary-color;
                }

                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                }
            }

            &.excursions a:before {
                top: 2px;
                background: url("/assets/img/header/excursions.svg") no-repeat;
                background-size: 20px 14px;
                width: 20px;
                height: 14px;
            }

            &.transfers a:before {
                top: -1px;
                background: url("/assets/img/header/transfers.svg") no-repeat;
                background-size: 16px 20px;
                width: 16px;
                height: 20px;
            }

            &.hotels a:before {
                background: url("/assets/img/header/hotels.svg") no-repeat;
                background-size: 20px 16px;
                width: 20px;
                height: 16px;
            }
        }
    }

    @media (max-width: 991.98px) {
        height: auto;
        text-align: center;
    }

    .phone {
        position: relative;
        padding-left: 50px;

        &:before {
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -9px;
            content: '';
            background: url("/assets/img/header/phone.svg") no-repeat;
            background-size: 18px 18px;
            width: 18px;
            height: 18px;
        }
    }

    .menu-toggler {
        margin-top: 8px;
        background: url("/assets/img/header/menu.svg") no-repeat;
        border: 0;
        width: 18px;
        height: 14px;
        text-indent: -9999px;
        outline: none;
    }
}

// end header

// start Get the best booking deals
.search-container {
    padding-top: 60px;
    padding-bottom: 60px;

    .block-title {
        font-size: 42px;
        line-height: 52px;
    }

    .search-form {
        padding: 40px 20px 25px 20px;
        background: #ffffff;
        border-radius: 15px;

        @media (max-width: 991.98px) {
            padding-bottom: 40px;
        }

        .form-control {
            height: 59px;
        }
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col-lg-3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    @media (max-width: 991.98px) {
        .block-title {
            font-size: 36px;
            line-height: 44px;
        }
    }
}

// end Get the best booking deals

.list-container {
    padding: 100px 0;

    @media screen and (max-width: 1280px) {
        padding: 100px 0;
    }

    @media (max-width: 767.98px) {
        padding: 55px 0;
    }
}

.arrows-container {
    position: relative;
    .arrows {
        z-index: 1;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -7px;
        cursor: pointer;
    }
    input {
        z-index: 0;
    }
}

.filters {
    select.form-control {
        color: $secondary-color;
        background: url("/assets/img/home/select-arrows.svg") calc(100% - 9px) center no-repeat;
        background-size: 9px 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 10px;
        border: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .form-control {
        height: 59px;
    }

    @media (max-width: 767.98px) {
        .form-control {
            height: 39px;
            padding: 8px 10px;
        }

        .btn {
            padding: 8px 10px;
        }
    }
}

.place-teaser {
    margin: 15px;

    @media screen and (max-width: 576px) {
        margin: 6px;
    }

    .img {
        height: 300px;
        position: relative;
        border-radius: $base-radius;
        overflow: hidden;
        background-size: cover;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            height: 1px;
            width: 100%;
            box-shadow: 0 45px 100px 75px $primary-color;
        }

        .like {
            position: absolute;
            left: 20px;
            top: 30px;
            background: url("/assets/img/home/like.svg") no-repeat;
            width: 20px;
            height: 19px;
            border: 0;
            text-indent: -9999px;
            outline: none;
        }

        .rating {
            position: absolute;
            right: 20px;
            top: 20px;
            background: $secondary-color;
            color: #ffffff;
            font-weight: 600;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
        }

        .title {
            position: absolute;
            bottom: 20px;
            left: 0;
            font-size: 20px;
            font-weight: 700;
            z-index: 1;
            width: 100%;
            padding: 0 20px;

            a {
                color: #ffffff;
                text-decoration: none;
                outline: none;
            }

            span {
                position: relative;
                display: table;
                font-size: 14px;
                font-weight: 600;
                opacity: 0.85;
                line-height: 28px;
                padding-right: 15px;

                &:before {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -6px;
                    content: '';
                    background: url("/assets/img/home/arrow-right.svg") no-repeat;
                    background-size: 7px 12px;
                    width: 7px;
                    height: 12px;
                }
            }
        }
    }

    ul.details {
        margin: 0;
        padding: 15px 0;

        li {
            position: relative;
            list-style: none;
            font-weight: 600;
            padding-left: 35px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
            }

            &.place:before {
                left: 3px;
                background: url("/assets/img/home/location.svg") no-repeat;
                background-size: 16px 20px;
                width: 16px;
                height: 20px;
            }

            &.hotels:before {
                background: url("/assets/img/shared/hotel-icon.svg") no-repeat;
                background-size: 22px 18px;
                width: 22px;
                height: 18px;
            }

            &.price:before {
                left: 1px;
                background: url("/assets/img/home/price.svg") no-repeat;
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
            }
        }
    }
}

.add-favorites {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 16px;

    svg {
        @include inline-block();
        width: 100%;
        height: 100%;
        cursor: pointer;
        fill: $white;

        &:hover {
            @media (hover: hover) {
                fill: $accent-red;
            }
        }
    }
}

// start Booking is the best travel service
.stats {
    padding: 70px 0;
    background: url("/assets/img/footer/footer-bg.jpg") no-repeat center;
    background-size: cover;
    color: #ffffff;

    @media (max-width: 767.98px) {
        padding: 60px 0;
    }

    .text {
        opacity: 0.8;
    }

    .stat-item {
        font-weight: 600;
        text-align: left;

        span {
            display: block;
            font-size: 36px;
            font-weight: 700;
            color: $secondary-color;
        }
    }
}

.excursion-list {
    padding: 50px 0;
    background-color: $gray-10;

    @media screen and (max-width: 992px) {
        padding: 80px 0;
    }

    @media screen and (max-width: 576px) {
        padding: 64px 0;
    }
}

.excursion-collection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 768px) {
        margin: -8px 0;
    }

    >app-astronet-excursion-info {
        width: calc(100% / 12 * 3 - 32px);
        margin: 16px;

        @media screen and (max-width: 992px) {
            width: calc(100% / 12 * 4 - 32px);
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 8px 0;
        }
    }
}

.transfer-list {
    padding: 50px 0;
    background-color: $gray-10;

    @media screen and (max-width: 992px) {
        padding: 80px 0;
    }

    @media screen and (max-width: 576px) {
        padding: 64px 0;
    }
}

.transfer-collection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 768px) {
        margin: -8px 0;
    }

    >app-astronet-transfer-info {
        width: calc(100% / 12 * 3 - 32px);
        margin: 16px;

        @media screen and (max-width: 992px) {
            width: calc(100% / 12 * 4 - 32px);
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 8px 0;
        }
    }
}
// end Booking is the best travel service